<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean  id="connectionMaker" class="toby.vol1.chapter1.I_xmlConfig.NConnectionMaker"/>

    <bean id="userDao" class="toby.vol1.chapter1.I_xmlConfig.UserDao">
        <property name="connectionMaker" ref="connectionMaker"/>
    </bean>

</beans>